<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입</h1>
<hr/>
<form action="/join" method="POST">
	<label for="username">아아디: </label>
	<input type="text" name="username" placeholder="Username" id="username"/><br/>
	<label for="password">비밀번호: </label>
	<input type="password" name="password" placeholder="Password" id="password" /><br/>
	<label for="email">이메일: </label>
	<input type="email" name="email" placeholder="Email" id="email" /><br/>
	<button>회원가입</button>
</form>

</body>
</html>